body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.st-view{
    display: flex;
    padding-left: 70px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.header{
    font-size: 50px;
}
.myImage{
    width: 50%;
    padding-left: 250px;
    padding-top: 30px;
}
span{
    color: rgb(0, 147, 42);
}
button{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(241, 66, 77), rgb(148, 15, 37));
    border: 0;
    size: 5px;
    padding: 8px 15px;
    border-radius: 5px;
}